body {
	background-image: url(../images/bg.jpg);
	font-family: Helvetica, Arial, sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.main {
	width: 600px;
	background-color: rgba(255,255,255,0.7);
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 30px 10px rgba (255,255,255,0.5);
}

h1,
h2,
h3 {
	text-align: center;
	color: #ff33cc;
}
/* Like this */

img {
	margin: 0 auto;
	display: block;
	border: 30px;
	border-radius: 200%;
}
h1{
	font-size: 60px;
	text-shadow: ;
	font-family: 'Ubuntu', sans-serif;

}
h2 {
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 10px;
}
p,
ul,
ol {
	line-height: 1.4;
	list-style: none;
	padding-left: 0;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #fe0099;
}
a:focus,
a:hover {
	outline: none;
	text-decoration: underline;
	color: #ff33cc;
}





